.wrapper {
  strong {
    font-size: 1.3rem;
  }
}
.image {
  border-radius: 0.375rem;
}
.teamInfo {
  display: flex;
  margin: 25px 0;
  &:hover {
    cursor: pointer;
  }
}
.info {
  display: grid;
  margin-left: 15px;
  strong {
    font-size: 1rem;
  }
}
@media (max-width: 885px) {
  .wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    strong {
      display: grid;
      width: 100%;
      text-align: center;
    }
  }
  .teamInfo {
    margin: 25px;
  }
}
