.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  width: 25%;
  border-radius: 16px;
  text-align: center;
}
.selector {
  margin: 15px 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 890px) {
  .modal {
    width: 90%;
  }
}
