@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./reset.scss";
@import "./scroll.scss";
@import "./variables.scss";

.main-container {
  margin: 0 auto !important;
  max-width: calc(1440px + (100vw / 72 * 2) * 2) !important;
}
body {
  background-color: var(#{--body-background-default}) !important;
}
